<html>
  <head>
    <title>{% block title %}django-url-shortener{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>

  <body>
      <h1><a href="{% url index %}">{{ request.META.HTTP_HOST }}</a></h1>
      <hr/>
      {% block content %}{% endblock %}

      {% block url_form %}
        {% include 'shortener/form.inc.html' %}
      {% endblock %}
      {% block bookmarklet %}
      <br/>
      Bookmarklet (drag this to your bookmarks bar):<br/>
      <a href="javascript:(function(){var a=window,b=document,c=encodeURIComponent;d=a.open(&#39;//{{ request.META.HTTP_HOST }}/submit/?u=&#39;+c(b.location));})();">Shorten with {{ request.META.HTTP_HOST }}</a>
      {% endblock %}

    {% block extra_body %}{% endblock %}
  </body>
</html>
